.navigation {
	&__checkbox {
		display: none;
	}

	&__button {
		background-color: $color-white;
		border-radius: 50%;
		height: 7rem;
		width: 7rem;
		position: fixed;
		top: 4rem;
		right: 6rem;
		z-index: 25;
		text-align: center;

		@include respond(tab-port) {
			top: 3rem;
			right: 3rem;
		}

		@include respond(phone) {
			top: 2.5rem;
			right: 2.5rem;
		}
	}

	&__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		position: fixed;
		top: 4.5rem;
		right: 6.5rem;
		background-image: radial-gradient($color-primary-light, $color-primary-dark);
		z-index: 20;
		box-shadow: 0 1rem 3rem rgba($color-dark, 0.1);
		transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
		cursor: pointer;

		@include respond(tab-port) {
			top: 3.5rem;
			right: 3.5rem;
		}

		@include respond(phone) {
			top: 3rem;
			right: 3rem;
		}
	}

	&__nav {
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 23;

		opacity: 0;
		width: 0;
		transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	&__list {
		position: absolute;
		@include centerHV;
		text-align: center;
		list-style: none;
		width: 100%;
	}

	&__item {
		margin: 1rem;
	}

	&__link {
		&:link,
		&:visited {
			display: inline-block;
			font-size: 3rem;
			font-weight: 300;
			color: $color-white;
			padding: 1rem 2rem;
			text-decoration: none;
			text-transform: uppercase;
			background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
			background-size: 230%;
			transition: all 0.3s;

			span {
				margin-right: 1.5rem;
				display: inline-block;
			}
		}

		&:hover,
		&:active {
			background-position: 100%;
			color: $color-primary;
			transform: translateX(1rem);
		}
	}

	// FUNCTIONALITY
	&__checkbox:checked ~ &__background {
		transform: scale(80);
	}

	&__checkbox:checked ~ &__nav {
		opacity: 1;
		width: 100%;
	}

	// ICON
	&__icon {
		position: relative;
		margin-top: 3.5rem;

		&,
		&::before,
		&::after {
			width: 3rem;
			height: 2px;
			background-color: $color-gray-darker;
			display: inline-block;
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
			left: 0;
			transition: all 0.2s;
		}

		&::before {
			top: -0.8rem;
		}

		&::after {
			top: 0.8rem;
		}
	}

	&__button:hover &__icon::before {
		top: -1rem;
	}

	&__button:hover &__icon::after {
		top: 1rem;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked + &__button &__icon::before {
		transform: rotate(135deg);
		top: 0;
	}

	&__checkbox:checked + &__button &__icon::after {
		transform: rotate(-135deg);
		top: 0;
	}
}
