.center-text {
	text-align: center;
}

.margin-b-big {
	margin-bottom: 8rem;
}

.margin-t-huge {
	margin-bottom: 8rem;
}

.margin-t-big {
	margin-bottom: 8rem;
}
.margin-b-medium {
	margin-bottom: 4rem;
}

.margin-b-small {
	margin-bottom: 1.5rem;
}
