.center-text {
	text-align: center !important;
}

.margin-b-big {
	margin-bottom: 8rem !important;
}

.margin-t-huge {
	margin-bottom: 8rem !important;
}

.margin-t-big {
	margin-bottom: 8rem !important;
}
.margin-b-medium {
	margin-bottom: 4rem !important;
}

.margin-b-small {
	margin-bottom: 1.5rem !important;
}
